@{
    ViewData["Title"] = "Home Page";
}

<main class="container d-flex align-items-center justify-content-center pt-5">
    <div class="row align-items-center text-center">
        <!-- Column 1: Text -->
        <div class="col-md-6 text-start">
            <h1 style="color: #545454;">Hey👋</h1>
            <p class="lead fw-bold" style="font-size: 2.5rem; color: #042b91;">
                We are Hilo Team!
            </p>
            <p class="lead" style="color: #545454;">Thanks for visiting our page!</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Explore now!</a>
            </p>
        </div>
        <!-- Column 2: Image -->
        <div class="col-md-6 text-center">
            <img src="@Url.Content("~/img/cover.png")" alt="Logo" loading="lazy" width="300px">
        </div>
    </div>
</main>
